/* src/components/About.css */

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10%;
  width: 80%;
  min-height: 90vh;
  /* TRANSPARENT to see live background */
  background: transparent !important; 
  position: relative;
  z-index: 2;
}

.about-text {
  max-width: 50%;
}

.about-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 400;
  color: #ad1457;
}

.about-text h2 span {
  font-style: italic;
}

.about-text h1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.2;
  margin: 20px 0;
  color: #333; 
}

.about-text .highlight {
  color: #ad1457;
}

.about-text h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ad1457;
}

.about-text p {
  font-size: 18px;
  color: #000;
  margin-bottom: 30px;
  line-height: 1.6;
}

.cta-btn {
  padding: 12px 30px;
  background: #ad1457;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 15px rgba(173, 20, 87, 0.3);
}

.cta-btn:hover {
  background: #880e4f;
  transform: translateY(-2px);
}

.about-image img {
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  border: 4px solid #ad1457;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

@media (max-width: 900px) {
  .about {
    flex-direction: column;
    text-align: center;
    padding-top: 150px;
  }
  .about-text {
    max-width: 100%;
    margin-bottom: 40px;
  }
}